#scrollToTop {
  display: none;
}

@media (max-width: 770px) {
  #scrollToTop {
    position: fixed; /* Фиксированное позиционирование */
    bottom: 20px; /* Отступ от низа */
    right: 20px; /* Отступ от правого края */
    border: none; /* Убираем рамку */
    cursor: pointer; /* Курсор в виде указателя */
    display: none; /* Скрываем кнопку по умолчанию */
    height: 50px;
    width: 50px;
    background: rgba(0, 0, 0, 0) no-repeat center center;
    background-size: 100% 100%;
    border-radius: 50%;
    background-image: url('../images/arrow-long-top.png');
    z-index: 50;
    box-shadow: 0px 2px 2px rgb(230, 230, 230);
    -webkit-tap-highlight-color: transparent;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
  }

  #scrollToTop:active {
    background-color: transparent;
    text-decoration: none;
    transform: scale(0.9);
    box-shadow: none;
  }

  .navigationCont *:not(:nth-child(1))::before {
    content: '•'; /* Символ пунсона (можно заменить на любой другой) */
    position: relative;
    right: 2px;
  }
  .navigation {
    border-bottom: 1px solid black;
  }
}

@media ((min-width: 770px)) {
  main {
    display: flex;
  }

  .text {
    flex: 3;
  }

  .navigation {
    border-right: 1px solid black;
  }
}

.navigation {
  min-width: 190px;
  padding-right: 5px;
  padding: 20px;
}

.nav {
  display: block;
  height: auto;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 6px;
  box-sizing: content-box;
}

.nav:hover {
  background-color: rgb(208, 253, 255);
  text-decoration: none;
}

.navitationTitle {
  font-weight: bold;
  padding-bottom: 10px;
}

.navigationCont {
  position: sticky;
  top: 90px;
}
